.address-form-container {
  width: 40%;
  margin: 0 auto;
  padding: 20px;
}
.over{
  justify-content: center;
  display: flex;
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 30px;
 
}
.address-form {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-address-btn,
.submit-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color:rgba(0, 128, 0, 0.748);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.add-address-btn:hover,
.submit-btn:hover {
  background-color:darkgreen
  ;
}
